<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <h1> Welcome to <%= title %> </h1>

    <h2><span> <%= count %></span></h2>

    <button type="button" id="btn-onClick">Click Me!</button>
    <script src="<%- include('../public/script.js') %>"></script>
</body>
</html>